In [7]:
class Students:
    def __init__(self,Name,Class,Sub):
        self.Name = Name
        self.Class = Class
        self.Sub = Sub

In [8]:
student1 = Students("Amar","CSE","Networking")

In [10]:
student1.Name

'Amar'

In [14]:
student1.Class

'CSE'

In [15]:
student1.Sub

'Networking'

In [17]:
class Stud:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def display(self):
        return("Student name is "+self.name+" and age is "+str(self.age))

In [20]:
stu = Stud("Amar",21)

In [21]:
stu.display()

'Student name is Amar and age is 21'