In [ ]:
random = "String searching and splicing"
random[10]

In [ ]:
random[:6]

In [ ]:
list ="eggs,carrot,peas,milk,apples"

In [ ]:
list2 = ["Eggs","Carrots","Peas","Apples"]

In [ ]:
list2

In [ ]:
list2[3-1]

In [ ]:
list2[2] = "Green Peas"

In [ ]:
list2[2]

In [ ]:
list2

In [ ]:
del list

In [ ]:
list

In [ ]:
del list2[2]

In [ ]:
list2

In [ ]:
array1 = ["Amar"]
array2 = ["Bal"]
array3 = array1 + array2

In [ ]:
array3

In [ ]:
len(list2)

In [ ]:
numarray = [12,43,4351,4523,45,454,789,234]
max(numarray)

In [ ]:
min(numarray)

In [ ]:
list2.append("Brocolli")

In [ ]:
list2

In [ ]:
list2.count("Carrots")

In [ ]:
#dictionaries
students = {"Eric":14, "Bob":16, "Taniya":15}

In [ ]:
students["Bob"]

In [ ]:
students["Bob"] = 13
students["Bob"]

In [ ]:
del students["Bob"]
students

In [ ]:
students.clear()

In [ ]:
students = {"Jones":15, "April":16, "Mark":17}

In [ ]:
students.keys()

In [ ]:
len(students)

In [ ]:
students.values()

In [ ]:
students2 = {"Jobs":13 , "Mary":15 , "Amy":17 }
students.update(students2)
students

In [ ]:
#tuples
tup1 = ("Maths",23,"Dogs")
tup1

In [ ]:
del tup1["Maths"]

In [ ]:
tup1 = ("Cheese")
tup1

In [ ]:
tup1 = ("Maths",23,"Books")
tup1[0]

In [ ]:
#Loops
for i in range(0,5):
    print(i)

In [ ]:
list = ["Milk","Eggs","Oranges"]
for i in list:
    print(i)

In [ ]:
tup =(2,43,6)
for i in tup:
    print(i)

In [ ]:
for i in range(0,101,2):
    print(i)

In [ ]:
for i in range(100,0,-2):
    print(i)

In [ ]:
#while loops
counter = 5
while counter < 10:
    print(counter)
    counter = counter + 1

In [35]:
for i  in range(0,6):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******

In [33]:
def triangle(n):
    k = 2*n -2
    for i in range(0,n):
        for j in range(0,k):
            print(end=" ")
        k = k - 1
        for j in range(0,i+1):
            print("* ",end="")
        print("\r")

In [34]:
n=5
triangle(n)

        *
       * *
      * * *
     * * * *
    * * * * *

In [ ]:
def func(a, n):
    for i in range(0,n):
        print(a+i)

In [ ]:
a=5
n=4
func(a,n)

In [54]:
def func(a, x):
    for i in range(0,x):
        for j in range(0,i+1):
            b=a+i
            print(b,end="")
        print("\r")
        b=b-1
    for i in range(x,0,-1):
        for j in range(0,i):
            b=a+i-1
            print(b,end="")
        print("\r")

In [55]:
func(5,4)

5
66
777
8888
8888
777
66
5